
.header-div{
    text-align: center;
    border-bottom: 1px black solid;
    background-color: #C3E2C2;
    padding: 2%;
}
  
  .swar-malika{
    width: 80%;
    height: 30%;
  }

  .raga-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #EAECCC;
  }
  .item{
    align-self: center;
    padding: 4%;
  }

  .image{
    transform: rotate(1deg)
  }

  .box{
    font-size: large;
  }